@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 150%;
  font-size: 16px;
  font-family: Poppins;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: #ffffff;
}

/*-------------------------------------------------------------------------------------------------------*/
body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: top;
}

._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
  min-height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 55px 0px;
  color: #ffffff;
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__nav ul li a:hover {
  text-decoration: underline;
}

.header__number {
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}

/*----------------------------Бургер----------------------*/
.menu__icon {
  display: none;
  position: relative;
  height: 20px;
  width: 30px;
}

.menu__icon span {
  position: absolute;
  background-color: rgb(255, 252, 252);
  left: 0;
  width: 100%;
  height: 10%;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon::after,
.menu__icon::before {
  content: "";
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  left: 0;
  height: 10%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

@media (max-width: 710px) {
  .header__logo {
    width: 176px;
    height: 34px;
  }
  .header__logo img {
    width: 100%;
  }
  .num__character {
    font-size: 14px;
  }
  .header {
    padding: 30px 0px;
  }
  .header__nav {
    position: fixed;
    padding-top: 50px;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav ul li {
    padding: 10px 0px;
    border-bottom: 1px solid #E5E5E5;
  }
  .header__nav ul li a {
    color: #000;
  }
  .menu__icon {
    display: block;
  }
  ._active {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 6;
  }
  ._active::after, ._active::before {
    background-color: #000;
  }
  ._active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  ._active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  ._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  ._actived {
    top: 0px;
  }
}
@media (max-width: 470px) {
  .num__character {
    display: none;
  }
  .header__number {
    -ms-flex-preferred-size: 24px;
        flex-basis: 24px;
  }
}
/*---------------------------------------------------------------------*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 99px;
  height: 100%;
}

.main__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 24px;
}

.main__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 138%;
  color: #FFFFFF;
}

.reserve__line {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.reserve__button {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 38px 65px;
  background-color: #3A4574;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.reserve__button:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: #4a5793;
}

.line__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0px;
  background-color: #E5E5E5;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

@media (max-width: 1200px) {
  .main__title {
    font-weight: 700;
    font-size: calc(30px + 34 * (100vw - 320px) / 880);
  }
  .main__subtitle {
    font-size: calc(16px + 8 * (100vw - 320px) / 880);
  }
}
@media (max-width: 710px) {
  .main {
    margin-top: 40px;
  }
  .reserve__button {
    padding: 25px 50px;
    font-size: 16px;
  }
  .footer__logo {
    width: 176px;
    height: 34px;
  }
  .footer__logo img {
    width: 100%;
  }
  .line__social {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
  .line__social a {
    width: 35px;
    height: 35px;
  }
  .line__social a img {
    width: 100%;
  }
  .footer__social {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
  .footer__social a {
    width: 35px;
    height: 35px;
  }
  .footer__social a img {
    width: 100%;
  }
}
@media (max-width: 470px) {
  .reserve__button {
    padding: 15px 26px;
    font-size: 14px;
  }
  .line__social {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
  }
  .line__social a {
    width: 25px;
    height: 25px;
  }
  .footer__social {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
  }
  .footer__social a {
    width: 25px;
    height: 25px;
  }
  .main {
    margin-top: 20px;
  }
  .reserve__line {
    margin-top: 20px;
  }
  .footer__logo {
    width: 160px;
    height: 28px;
  }
  .footer__logo img {
    width: 100%;
  }
}
/*---------------------------------------------------------------------------------------------*/
.main__second {
  margin-top: 265px;
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 502px;
          flex: 1 0 502px;
  padding-right: 34px;
  padding-bottom: 88px;
}

.text__item {
  padding: 20px 0px;
  border-bottom: 1px solid #E7E7E7;
}

.first {
  padding-top: 0px;
}

.item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 10px;
}

.item__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
}

.subtitle__center {
  height: 5px;
}

.second__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  background-image: url(../img/square.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.image__square {
  position: absolute;
  top: 53px;
  left: 97px;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
}
.image__square img {
  width: 100%;
}

.image__one {
  margin-top: 152px;
}
.image__one img {
  width: 100%;
}

.image__two img {
  width: 100%;
}