/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    line-height: 150%;
    font-family: 'RobotoFlex';
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }
  a{
    color: #ffffff;
  }
  
  /*-------------------------------------------------------------------------------------------------------*/

html{
   scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    
}


  body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: top;

}
._lock{
    overflow: hidden;
}
.wrapper{
    max-width: 120rem;
    margin: 0px auto;
    padding: 0px 1.5rem;
}

.header{
    display:flex;
    align-items:center ;
    justify-content: space-between;
    column-gap: 3rem;
    padding: 4rem 0;
    color: #ffffff;
}

.header__nav{
  font-size: 2rem;
    flex: 0 1 45rem;
    ul{   
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
        flex-wrap: wrap;
        transition: all 0.3s ease 0s;
        li a{
            &:hover{
                text-decoration: underline;
               
            }
        }
    }
 
}

.header__number {
    flex-basis: 16rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 1.1rem;
}

/*----------------------------Бургер----------------------*/

  .main{
    margin-top: 9.9rem;

   
}

.main__subtitle {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 133%;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
}
.main__title {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 138%;
    color: #FFFFFF;
}
.reserve__line {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}
.reserve__button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.4rem;
    padding: 3.8rem 6.5rem;
    background-color: #3A4574;
    transition: all 0.3s ease 0s;
    &:hover{
        transform: translateY(-10px);
        background-color: #4a5793;
        border-radius: 2rem;
    }
}
.line__social {
    display: flex;
    column-gap: 25px;
    flex-wrap: wrap;
    row-gap: 10px;
    a{
      transition: all 0.3s ease 0s;
      &:hover{
        transform: translateY(-10px);
        background-color: #4a5793;
        border-radius: 2rem;
    }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
    column-gap: 1.5rem;
}

.footer__social {
    display: flex;
    column-gap: 2.5rem;
    flex-wrap: wrap;
    row-gap: 1rem;
    a{
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      &:hover{
        transform: translateY(-10px);
        background-color: #4a5793;
    }
    }
}

.swiper-container {
  background-color: #3A4574;
  margin-top: 35rem;
  
}
.swiper-button-next::after,
.swiper-button-prev::after{
  color: #D3B47F;
}

.swiper-wrapper {
  padding: 10rem 0;
}
.swiper-slide {
  padding: 0 5rem;
  height: 30rem;
  img{
    width: 100%;
    height: 100%;

  };

}


/*-------------------------------------------*/
